<!DOCTYPE html>
<html>
<head>
  <title>Gdocstatic</title>
  <%= stylesheet_link_tag    "gdocstatic/application", :media => "all" %>
  <%= javascript_include_tag "gdocstatic/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
